<nav class="navbar navbar-light bg-light">
    <div class="container">
        <div class="navbar-brand">
            <a href="index.html">
                <img src="img/joker-svgrepo-com.svg" alt="Starbucks" />
            </a>
        </div>

        <ul class="navbar-nav-left">
            <li>
                <a href="#">Generate A Joke</a>
            </li>
            <li>
                <a href="/MyJokes">My Jokes</a>
            </li>
        </ul>

@*        <ul class="navbar-nav-right">
            <li><button class="btn btn-dark-outline">Sign in</button></li>
            <li><button class="btn btn-dark">Join now</button></li>
        </ul>*@

    </div>
</nav>